<!DOCTYPE html>
<html lang="en">
<%- include('layout.ejs')%>

    <body>
        <a href="/">Tillbaka</a>
        <% games.forEach(game=> { %>
            <div class="game">
                <%= game.name %> (id: <%= game.id %>)
            </div>
            <% }); %>
                <br>
                <div>
                    <h3>Lägg till ett spel</h3>
                    <form action="/game/<%= companyId %> " method="POST">
                        <label for="name">Namn:</label>
                        <input type="text" name="name" autocomplete="off">
                        <button type="submit">Skicka</button>
                    </form>
                </div>
                <div>
                    <h3>Uppdatera ett spel</h3>
                    <form action="/game/<%= companyId %>/update" method="POST">
                        <label for="id">Id:</label>
                        <input type="text" name="id" autocomplete="off">
                        <label for="name">Namn:</label>
                        <input type="text" name="name" autocomplete="off">
                        <button type="submit">Skicka</button>
                    </form>
                </div>
    </body>

</html>